.HomePage{
    display: flex;
    /* justify-content: space-between; */
}
.Feed{
    flex-direction: column;
    justify-content: center;
    margin-left: 400px;
}
/* .SubBar{
    position: fixed;
    left: 1000px;
    top:200px;
    flex-grow:1;
} */

.homeContainer{


    margin-top: 100px;
    /* display:flex;
    flex-direction: column; */
    /* align-content: center;
    justify-content: center;
    align-items: center; */
}

.InputClick{
    background-color: #FFFFFF;
    width: 560px;
    /* padding-left: 200px; */
    padding-top: 20px;
    padding-bottom: 20px;
    /* margin-left: 150px; */
    top: 100px;
    border: 2px solid #556474;
}

.InputClickAlternate{


display: hidden;

}