.HomePage{
    display: flex;
    /* justify-content: space-between; */
}
.Feed{
    flex-direction: column;
    justify-content: center;
    margin-left: 500px;
}
/* .SubBar{
    position: fixed;
    left: 1000px;
    top:200px;
    flex-grow:1;
} */

.homeContainer{

 
    margin-top: 65px;
    /* display:flex;
    flex-direction: column; */
    /* align-content: center;
    justify-content: center;
    align-items: center; */
}

.InputClick{
    background-color: #FFFFFF;
    /* filter: brightness(97%); */
    width: 562px;
    /* padding-left: 200px; */
    padding-top: 20px;
    padding-bottom: 20px;
    /* margin-left: 150px; */
    top: 100px;
    border: 2px solid #556474;
    border-radius: 9px;
    /* padding-left: 11px; */
    color: #3A4B5E;
    display: flex;
    justify-content: center;
}

.InputClickAlternate{


display: hidden;

}
/* .homeContainerAlternate{
    background-color: black;
 
} */