.HomePage{
    display: flex;
    /* justify-content: space-between; */
}
.Feed{
    flex-direction: column;
    justify-content: center;
    /* margin-left: 500px; */
    position: relative;
    left: 35vw;
}


.homeContainer{

 
    margin-top: 10vh;
}

.InputClick{
    background-color: #FFFFFF;
    /* filter: brightness(97%); */
    width: 39.2vw;
    /* padding-left: 200px; */
    padding-top: 2.6vh;
    padding-bottom: 2.6vh;
    border: 2px solid #556474;
    border-radius: 9px;
    /* padding-left: 11px; */
    color: #3A4B5E;
    display: flex;
    justify-content: center;
}

.InputClickAlternate{


display: hidden;

}
/* .homeContainerAlternate{
    background-color: black;
 
} */