@import url("https://fonts.googleapis.com/css?family=Calligraffitti&display=swap");
@import url("https://fonts.googleapis.com/css?family=Acme|Calligraffitti&display=swap");


.Background{
    background-image: url("./images/dome1.jpg");
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0px;
    /* opacity: 0.9; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    /* display: flex;
    justify-content: center; */
}
.HomeText{
    color: white;
    /* position: fixed;
    z-index: 10000;
    top: 250px;
    left: 37%; */
    font-size: 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4vh;
} 
.Logo-ask1{
    text-decoration: none;
    padding-right:0px;
    margin-right:0px;
    font-family: 'Calligraffitti', sans-serif;
    color: white;
    font-size: 7vw;
    font-weight: 900;
    
}
.Logo-MIT1{
    text-decoration: none;
    padding-left: 0px;
    margin-left: 0px;
    font-family: 'Acme', sans-serif;
    color: white;
    font-size: 7vw;
    z-index: 10000;
    font-weight: 900;
}
.WordsFlex{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 900;
}
.Logo1{
    /* position: fixed;
    left: 40%;
    top: 140px; */
    font-weight: 900;
    /* display: inline-flex;
    justify-content: flex-start; */
}
.Skele-button{
    /* background-color: white; */
    width: 15vw;
    height: 8vh;
    border-radius: 20px;
    /* / */
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: white;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.Skele-button:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #c4c4c4;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    border-radius: 20px;
  }

  .Skele-button:hover, .Skele-button:focus, .Skele-button:active {
    color: white;
    border-radius: 20px;
  }
  .Skele-button:hover:before, .Skele-button:focus:before, .Skele-button:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    border-radius: 20px;
  }
  
/* .Skele-button:hover{
    background-color: #c4c4c4;
    transition: 0.5s;
} */
.Skele-button-text{
    font-size: 1.2vw;
}
.WordsContent{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 15vh;
}