.Story-container{
    background-color: white;
    width: 570px;
    /* padding: 1px 10px 50px 10px; */
    min-height: 150px;
    border-radius: 5px;
}
.CreatorName{
    text-decoration: none;
        /* font-size: 16px;
        padding-left: 12px;
        padding-top: 5px;
        padding-bottom: 5px; */
}
.CreatorName2{
    /* margin-left: 10px; */
    font-size: 16px;
    font-weight: bold;
    margin-left: 9px;
}
.TagsTime-container{
    display: flex;
    justify-content: space-between;
    /* padding-top: 10px;  */
    /* padding-left: 2px; */
}
.TimeContainer{
    font-weight: 1px;
    color: #3A4B5E;
    padding-top: 10px;
    font-size: 10px;
}
.StoryContent{
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-weight: bold;
}



.u-title-arvo TagBar{
padding:5px;

}
.UserBio{
    font-style: italic;
    font-size: 10px;
    margin-left: 5px;
}

.heartIcon{
    color: black;
    font-size: 10px;
    font-weight: 900;
    /* border: 3px solid black; */
}
.heartIcon:hover{
    cursor: pointer;
}
.LikesNumber{
    font-size: 50px;
    display: inline;
    margin-left: 6px;
    /* padding-bottom: 100px; */
}