.Story-container{
    background-color: white;
    width: 39.5vw; 
    /* padding: 1px 10px 50px 10px; */
    min-height: 24vh;
    border-radius: 5px;
    /* filter: brightness(97%); */
}
.CreatorName{
    text-decoration: none;

}
.CreatorName2{
    /* margin-left: 10px; */
    font-size: 1.1vw;
    font-weight: 800;
    margin-left: 0.7vw;
}
.CreatorName2:hover{
    cursor: pointer;
}
.TagsTime-container{
    display: flex;
    justify-content: space-between;
    /* padding-top: 10px;  */
    /* padding-left: 2px; */
}
.TimeContainer{
    font-weight: 1px;
    color: #3A4B5E;
    padding-top: 0.7vw;
    font-size: 0.7vw;
}
.StoryContent{
    font-size: 1.26vw;
    padding-top: 4.3vh;
    padding-bottom: 1.5vh;
    padding-left: 0.7vw;
    font-weight: bold;
}



.u-title-arvo TagBar{
padding:5px;

}
.UserBio{
    font-style: italic;
    font-size: 0.7vw;
    margin-left: 0.22vw;
}

.heartIcon{
    color: black;
    font-size: 0.7vw;
    font-weight: 900;
    /* border: 3px solid black; */
}
.heartIcon:hover{
    cursor: pointer;
}
