.CommentInputBox{
    width: 39.2vw;
    height: 8vh;
    background-color: white;
    border-radius: 10px;
    border-color: white;
    /* filter: brightness(97%); */

}

.SubmitButton{
    display: inline-block;
    /* background-color: white; */
    border-radius: 8px;
    position: absolute;
    right: 0.1vw;
    align-self: center;

    font-weight: 0;
    font-weight: 1px;
    color: #3A4B5E;
    font-size: 0.7vw;
}
.SubmitButton:hover{
    cursor: pointer;
    font-size: 0.75vw;


}
.Input-container {
    position: relative;
    display: flex;
}
.PlaceHolderText{
    font-size: large;
}