
.popUpContainer1{

    position: fixed;
    /* left: 515px; */
    left: 35vw;
    z-index: 999999999;
    width:30.8vw;
    min-height:16vh;
    background: #EFEFEF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius:5px;
    top: 25vh;

}
.popUpInputfield1{


    width:30vw;
    min-height:20vh;
    outline: 0;
    font-size: 1.2vw;
    margin-top: 4px;
    border: 1px solid white;
    border-radius: 5px;
    /* border-color: #FFFFFF; */
    background-color:white;
    margin-left: 2px;
    text-indent: 2px;
    word-wrap: break-word;
}

.PostPopup-layer1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000022;

    z-index: 10;
    /* filter: blur(8px); */
   /* background-color:#EFEFEF; */
    
}
.SubmitCancel1-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh;
    margin-left: 1.5vw;
    margin-right:1.5vw;
    justify-content: space-between;
}
.CancelButton1{
    font-size: 0.85vw;
    color: red;
}
.CancelButton1:hover{
    cursor: pointer;
}
.submitButton1{
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    /* background-color: #ffffff; */
    border-radius: 15px;
    /* width: 130px;
    height: 40px; */
    font-weight: 1px;
    color: green;
    font-size: 1vw;

}
.submitButton1:hover{

    /* color:white;
    background-color: black; */
    cursor: pointer;
   
   }

