.fullPost-container{
    /* OR D7D7D7 */
    background-color: #d7d7d7;
    width:  39.7vw;
    padding-left: 2px;
    /* margin: 10px 10px 10px 5px; */
    /* margin-bottom: 15px; */
    margin-top: 1vw;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #EFEFEF;
}
/* .fullPost-container:hover{
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */
.LikesCommentButton-container{
    display: flex;
    justify-content: space-between;
}
.Likes-container{
    /* background-color: white; */
    margin-top: 1vh;
    margin-bottom: 1vh;
    /* margin-left: 0px; */
    width: 3.5vw;
    padding: 0.6vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    height: 1vh;
}
.ShowCommentsButon{
    /* background-color: white; */
    display: flex;
    justify-content: center;
    margin-top: 1vh;
    height: 2vh;
    border-radius: 8px;
    font-weight: 1px;
    color: #3A4B5E;
    font-size: 0.7vw;
    margin-right: 1px;
}
.ShowCommentsButon:hover{
    cursor: pointer;
    /* background-color: #556474;
    color: white; */
    font-weight: 1000;
    font-size: 0.73vw;
}
.heartIcon{
    color: #3E4B5D;
    /* transition: 10s; */
}