@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow&display=swap');
.HomeSubBar-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    left: 13vw;
    position: fixed;
    top: 22vh;
    background-color: #efefef;
    border-radius: 7px;
    padding-top: 2.6vh;
    max-height: 70vh;
    overflow-y: scroll;
    z-index: 10;
}
.Tag-container{
    /* background-color: white; */
    
    min-width: 15.3vw;
    height: 6.5vh;
    margin: 0.7vw;
    padding: 4px;
    /* padding-left: 20px; */
    /* padding-right: 30px; */
    border-radius: 7px;
    display: flex;
    align-items: center;
    font-size: 0.85vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: white;
    display: inline-flex;
    justify-content: space-between;
    border: 2px solid #efefef;
    color: #3A4B5E;
    
    /* padding-right: 400px; */
    
}
.Tag-containerActive{
    min-width: 15.3vw;
    height: 6.5vh;
    margin: 0.7vw;
    padding: 4px;
    /* padding-left: 20px; */
    /* padding-right: 30px; */
    border-radius: 7px;
    display: flex;
    align-items: center;
    font-size: 0.85vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #efefef;
    display: inline-flex;
    justify-content: space-between;
    border: 2px solid #efefef;
    color: #3A4B5E;
    transition: 0.3s;

    /* padding-right: 400px; */
}
.Tag-containerActive:hover{
    cursor: pointer;
    transition: 0.3s;
}
.Tag-container:hover{
    cursor: pointer;
    background-color: #efefef;
    transition: 0.6s;
}
.Tag-container:active{
    background-color: #efefef;
    transition: 0.3s;
}
.HomeSubBarText{
    font-size: 0.9vw; 
    padding-left: 2vw;
    color: #3A4B5E;
    
}

.ImageTag{
    width: 3.5vw;
    height: 7.7vh;
    border-radius: 4px;
    padding: 1px;
}
