.Full-container{
  margin-top: 100px;
  margin-left: 200px;

  
}
.Tag-container1{
    padding: 5px;
    display: inline-flex;
    justify-content: space-between;
    min-width: 140px;
    color: black;
    height: 50px;
    margin: 10px;
    padding-left: 20px;
    /* padding-right: 30px; */
    border-radius: 7px;
    display: flex;
    align-items: center;
    font-size: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    border: 2px solid #efefef;
}
.TagBlock{
    padding: 5px;
}
.TagBlock-container{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.ManageSubs-container{
    display: flex;
    flex-direction: row;
    /* max-height: 600px; */
    /* width: 100%; */
    width: 1400px;
    justify-content: space-between;
}



  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .DropDownContentHide {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .DropDownContentShow{
    display: block;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.IntroText{
  padding-left: 12px;
  font-size: 14px;
  /* margin-left:7px; */
  /* margin-bottom: 3px; */
  /* padding: 5px; */
}
.SubscribedBlock{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* margin-right: 400px; */
  /* margin-top: 25px; */
  /* position: relative; */
  max-height: 600px;
  /* margin-left: 270px; */


}
.UnsubBlock{
  /* position: relative; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* margin-top: 25px; */
  max-height: 600px;
  margin-right: 350px;
  /* left: 300px; */
  /* margin-left: 300px; */
}
.ManageSubsText{
  position: relative;
  left: 40%;
  top: -20px;
}
.plusIcon{
  display: inline-block;
  color: black;
  /* position: absolute; */
  font-size: 20px;
  font-weight: 1px;
  filter: brightness(200%);
  /* width: 50px;
  height: 50px; */
  margin-right: 13px;

}
.plusIcon:hover{
  cursor: pointer;
}
.TrashIcon{
  margin-right: 5px;
   /* width: 2px;
  height: 2px; */

}
.TrashIcon:hover{
  cursor: pointer;
}
.DropDownIcon{
  margin-right: 10px;
}
.DropDownIcon:hover{
  cursor:pointer;
}
.SubBlockAndText{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 270px;
}
.UnsubBlockAndText{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}
.DropDown-container{
  background-color: #c4c4c4;
  border-radius: 8px;
  transition: 10s;
}