@import url("https://fonts.googleapis.com/css?family=Calligraffitti&display=swap");
@import url("https://fonts.googleapis.com/css?family=Acme|Calligraffitti&display=swap");
.NavBar-container{
    display: flex;
    background-color: #3E4B5D; 
    align-items: center;
    padding: 0px;
    position: fixed;
    width:100%;
    z-index: 1000;
    justify-content: space-between;
    /* filter: brightness(97%); */
}
.RightLink-container{
    /* margin-left: 400px;  */
    font-size: 1.4vw;
    margin-right: 7vw;
}
.NavBar-link{
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 8vw;
    /* margin-right: 20px; */
}
.NavBar-link:hover{
    cursor: pointer;
}
.NavBar-logo{
    text-decoration: none;
    margin-left: 10vw;
    font-family: 'Calligraffitti';
    color: #FFFFFF;
    display: inline-block;

}
.Logo-ask{
    text-decoration: none;
    /* padding-left: 80px; */
    padding-right:0px;
    margin-right:0px;
    font-family: 'Calligraffitti', sans-serif;
    color: white;
    font-size: 2.8vw;
    font-weight: 900;
    
}
.Logo-MIT{
    text-decoration: none;
    padding-left: 0px;
    margin-left: 0px;
    font-family: 'Acme', sans-serif;
    color: white;
    font-size: 2.8vw;
    font-weight: 900;
}
.NotificationsLayer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    

    z-index: 10000;
} 
.Notifications-container{
    position: absolute;
    width: 26.7vw;
    /* height: 400px; */
    z-index: 99999;
    background-color: #c4c4c4;
    display: flex;
    justify-content: center;
    border-radius: 3px;
    padding-bottom: 4px;
    padding-top: 0px;
    max-height: 70vh;
    overflow-y: scroll; 
    margin-top: 5vh;
}

.PostNotificationsLayer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    /* background-color: #EFEFEF;
    opacity: 0.4; */
    /* background-color: #EFEFEF;
    opacity: 0.1; */

}
.PostNotificationsLayerHide{
    display: none;
}
.HomeButton{
    display: inline;
}
.NavBar-container1{
    display: flex;
    justify-content: end;

}
.LoginNavBar{
margin-right: 5vw;
}
.Skele-button1{
    color: white;
    padding: 0px;
    font-size: 1.2vw;
    border: 1px solid white;
    border-radius: 15px;
    padding: 5px 15px;
    background-color: #3E4B5D; 
}
.Skele-button-text1{
    color: white;
}
.NavBarWelcome{
    color: white;
    font-size: 1.3vw;
    margin-left: 7vw;
    padding: 1.1vw;
}

.NotificationsNumber{
    display: inline-block;
    width: 0.98vw;
    height: 0.98vw;
    /* height: 30px; */

    border-radius: 1.3vw;
    background-color: white;
    display: inline-flex;
    justify-content: center;
    color: #B90000;
    margin-right: 2px;
    font-size: 1vw;
    font-weight: 20000;
    align-items: center;
    /* padding-bottom: 4px; */


}
.NotificationTextAndNumber{
display: inline-flex;
align-items: center;
position: relative;
}
.NotificationsFlex{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}
