.EmptyNotifications{
    background-color: white;
    width: 350px;
    margin-top: 3px;
    border-radius: 6px;
    padding: 3px 10px 8px 14px;
    word-wrap: break-word;
    word-break: break-all;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* margin-bottom: 4px; */
    color: #3A4B5E;
    font-size: 14px;
    height: 7vh;
    justify-content: center;
    align-items: center;
    margin-bottom: 1px;
}