.popUpContainer{


    /* visibility: hidden; */
    
    /* display: flex; */
    position: fixed;
    left: 515px;

    z-index: 99999;

    /* flex-direction: column; */
    /* background-color: ffffff; */
    /* color: white; */
    width:590px;
    min-height:300px;
    /* justify-content: space-evenly; */
    /* align-items: center; */
    background: #EFEFEF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius:5px;
    top: 90px;
    /* margin-left: 165px; */

}

.popUpContainerAlternate{


    /* visibility: hidden; */
    
    display: none;
    /* top: 0; */

    /* z-index: 99999; */

    flex-direction: column;
    background-color: #c4c4c4;
    width:550px;
    height:450px;
    justify-content: space-evenly;
    align-items: center;
    background: #C4C4C4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius:10px;
    margin-left: 165px;

}


/* .popUpContainerText{
font-size: 30px;
} */

.popUpInputfield{


    width:580px;
    height:150px;
    outline: 0;
    font-size: 16px;
    margin-top: 4px;
    border: 1px solid white;
    border-radius: 5px;
    /* border-color: #FFFFFF; */
    background-color:white;
    margin-left: 2px;
    text-indent: 2px;
    word-wrap: break-word;


}

.PostPopup-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    z-index: 10000;
    /* background-color: #EFEFEF;
    opacity: 0.1; */
}

.tagsContainer{
    display: flex;
    flex-direction: row;
    /* width:500px; */
    justify-content: flex-start;
    /* align-content: flex-start; */
    flex-flow: row wrap;
    /* margin-right: 85px; */
    /* margin:0px; */
    /* position: absolute */
    margin: 10px;
}



   .tagButton{

    display: flex;
    color:black;
    background-color:#FFFFFF;
    border-radius: 10px;
    /* width:50px;
    height:20px; */
    padding: 10px;
    /* text-align: center; */
    /* justify-content: center; */
    align-items: center;
    justify-content: center;
    margin: 4px;
    font-weight: 1px;
    color: #3A4B5E;
    font-size: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}


.tagButton:hover{

 /* color:white;
 background-color: black; */
 cursor: pointer;
 background-color: #EFEFEF;

    

}
.CheckBoxContainer{
 /* font-size: 8px; */
 position: absolute;
 left: 75%;
 bottom:54%;
font-weight: 1px;
color: #3A4B5E;
font-size: 10px;
}
.tagContainerText{
    font-weight: 1px;
    color: #3A4B5E;
    font-size: 14px;
    /* margin-right: 430px; */
    margin-top: 18px;
    margin-bottom: 10px;
    margin-left: 16px;
}
.SubmitCancel-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 14px;
    margin-right:12px;
    /* justify-content: space-between; */
}
.CancelButton{
    font-size: 12px;
    color: red;
}
.CancelButton:hover{
    cursor: pointer;
}
.submitButton{
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    font-size: 10px;
    /* background-color: #ffffff; */
    border-radius: 15px;
    /* width: 130px;
    height: 40px; */
    font-weight: 1px;
    color: green;
    font-size: 14px;

}
.submitButton:hover{

    /* color:white;
    background-color: black; */
    cursor: pointer;
   
   }