.QuestionsAsked-container{
    position: relative;
    left: 35vw;
    margin-top: -3vh;
}
.NoAskedQuestions{
    color: #3A4B5E;
    /* margin-top: 40vh; */
    font-size: 1.2vw;
    position: relative;
    left: 50vw;
    top: 6vh;

}