.Sidebar-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    width: 300px;
    left: 10px;
    height: 80vh;
    background-color: #A7AEB5;
    border-radius: 3px;
    /* opacity: 0.9; */
    z-index: 10000;
    /* filter: brightness(140%) */
    /* filter: brightness(130%); */

}
.SideBarLink{

    padding: 15px 0px 15px 0px;
    /* background-color: #A7AEB5; */
    width: 310px;
    /* border-radius: 4px; */
    border-bottom: 1px solid #F7F9FB;
    border-top: 1px solid #F7F9FB;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 30px; */
    color: black;

    
}
.SideBarLink:hover{
    /* font-size: 20px; */
    background-color: #c4c4c4;
    cursor: pointer;
    transition: 0.4s;
}
.SideBarLink:active{
    background-color: #CECCCC;
    transition: 0.4s;
}
.SideBarName{
    /* margin-top: 100px; */
    font-size: 20px;
    padding: 10px;
  

}
.UserBio1{
    font-style: italic;
    font-size: 12px;
    max-width: 280px;
    margin-left: 15px;
    
}
.NameBio-container{
    /* padding: 10px; */
    height: 200px;
    width:300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}
.TextColor{
  
    font-size: 14px;
}
.QuestionsAsked{
    border-top: 2px solid white;
}
.Logout{
    border-bottom: 2px solid white;
}
.EditBioContainer{
    z-index: 10;
}

.EditBioButton{
    font-size: 12px;
    position: relative;
    top: 7vh;
    left: 9vw;
}
.EditBioButton:hover{
    cursor: pointer;
}