.App-container{
    max-width: 1200px;
    min-height: 700px;
    padding: var(--m) var(--m);
    margin: auto;
    /* margin-top:200px; */
    
}
.Background-container{
    background-color: #E5E5E5;
}