.App-container{
    min-width: 500px;
    /* max-width: 1200px; */
    min-height: 1000px;
    padding: var(--m) var(--m);
    margin: auto;
    background-color: #F7F9FB;
    background-position: center;
    /* background-image: url("./pages/images/fishnets-and-hearts.png"); */
    /* filter: brightness(95%); */
  
}
