.App-container{
    min-width: 500px;
    /* max-width: 1200px; */
    min-height: 1000px;
    padding: var(--m) var(--m);
    margin: auto;
    background-color: #F7F9FB;
    /* background-image: url("./pages/images/fishnets-and-hearts.png"); */
    /* filter: brightness(95%); */
  
}
/* .Background-container{
    background-color: #F5F5F5;
    padding-left: 100px;
    
} */
/* .Background-container{
    background-color: #E5E5E5;
} */